.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
.dart_tool/package_config.json
.dart_tool/package_config_subset
.dart_tool/version
.dart_tool/flutter_build/dart_plugin_registrant.dart
.idea/.gitignore
.idea/modules.xml
.idea/UpTech.iml
.idea/vcs.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
android/local.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
build/last_build_run.json
build/1db5a300054b79909fec2652f32ecfa3/_composite.stamp
build/1db5a300054b79909fec2652f32ecfa3/gen_dart_plugin_registrant.stamp
build/1db5a300054b79909fec2652f32ecfa3/gen_localizations.stamp
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
